pandas
numpy
scikit-learn
matplotlib
seaborn
jupyterlab
notebook
plotly
streamlit
requests
tweepy
networkx
mlxtend
mlflow
xgboost
lightgbm
imbalanced-learn
scipy
flask
psycopg2-binary
geopandas
folium
black
pytest
pre-commit
